* {
	font-size: 1vw;
}

.login, .register {
  	width: 22vw;
  	background-color: transparent;
  	margin: 6vw auto;
}
.login h1, .register h1 {
  	text-align: center;
  	color: black;
  	font-size: 1vw;
  	padding: 2vw 0 2vw 0;
}
.login .links, .register .links {
  	display: flex;
  	padding: 0 1vw;
  	padding-top: 1vw;
}
.login .links a, .register .links a {
  	color: #424242;
  	text-decoration: none;
  	display: inline-flex;
  	padding: 0 1vw 0.5vw 1vw;
}
.login .links a:hover, .register .links a:hover {
  	color: #757575;
}
.login .links a.active, .register .links a.active {
  	border-bottom: 0.15vw solid #757575;
  	color: #757575;
}
.login form, .register form {
  	display: flex;
  	flex-wrap: wrap;
  	justify-content: center;
  	padding-top: 1vw;
}
.login form label, .register form label {
  	display: flex;
  	justify-content: center;
  	align-items: center;
  	width: 2.75vw;
  	height: 2.5vw;
  	background-color: transparent;
  	border: solid;
  	border-color: #f66e0d;
  	border-width: 0.15vw;
  	color: #757575;
}
.login form input[type="password"], .login form input[type="text"], .login form input[type="email"], .register form input[type="password"], .register form input[type="text"], .register form input[type="email"] {
  	width: 20vw;
  	height: 2.5vw;
  	border: none;
  	margin-bottom: 1vw;
  	padding: 0 1vw;
  	font-size: 1vw;
  	border: solid;
  	border-color: #ff9138;
  	border-width: 0.15vw;
  	background-color: transparent;
  	text-decoration: none;
}
.login form input[type="submit"], .register form input[type="submit"] {
  	width: 100%;
  	padding: 1vw;
  	margin-top: 1vw;
  	background-color: transparent;
  	border: 0;
  	cursor: pointer;
  	font-weight: bold;
  	font-size: 1.25vw;
  	border: solid;
  	border-color: #ff9138;
  	border-width: 0.15vw;
  	color: #757575;
}
.login form input[type="submit"]:hover, .register form input[type="submit"]:hover {
  	background-color: transparent;
  	border-color: white;
}
.navtop {
  	background-color: #2f3947;
  	height: 2.6vw;
  	width: 100%;
  	border: 0;
}
.navtop div {
  	display: flex;
  	margin: 0 auto;
  	width: 100vw;
  	height: 100%;
}
.navtop div h1, .navtop div a {
  	display: inline-flex;
  	align-items: center;
}
.navtop div h1 {
  	flex: 1;
  	font-size: 2vw;
  	padding: 0;
 	margin: 0;
  	color: #eaebed;
  	font-weight: normal;
}
.navtop div a {
  	padding: 0 1vw;
  	text-decoration: none;
  	color: #c1c4c8;
  	font-weight: bold;
}
.navtop div a i {
  	padding: 0.1vw 0.2vw 0 0;
}
.navtop div a:hover {
  	color: #eaebed;
}
body.loggedin {
  	background-color: #f3f4f7;
}
.content {
  	width: 100vw;
  	margin: 0 auto;
}
.content h2 {
  	margin: 0;
  	padding: 1vw 0;
  	font-size: 1vw;
  	border-bottom: 1px solid #e0e0e3;
  	color: #4a536e;
}
.content > p, .content > div {
  	box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.1);
  	margin: 1vw 0;
  	padding: 1vw;
	background-color: #fff;
}
.content > p table td, .content > div table td {
	padding: 0.25vw;
}
.content > p table td:first-child, .content > div table td:first-child {
	font-weight: bold;
	color: #4a536e;
	padding-right: 0.75vw;
}
.content > div p {
	padding: 0.25vw;
	margin: 0 0 0.5vw 0;
}