* {
	font-family: monospace;
	margin: 0;
}

body {
	background-color: #212121;
}

.wrapper-sections {
    justify-content: center;
    
    padding-top: 2.5vh;
    padding-bottom: 10vh;
    display: grid;
    grid-gap: 50px;
    background-color: transparent;
    color: #444;
    grid-template-rows: repeat(2, 15vw);
    grid-template-columns: repeat(3, 25vw);
}

.wrapper-sections a {
	text-decoration: none;
    background-color: #303030;
    color: #a85937;
    padding: 0px;
    font-size: 1.25vw;
}

.wrapper-sections a:link {
	text-decoration: none;
    background-color: #303030;
    color: #a85937;
    padding: 0px;
    font-size: 1.25vw;
}

.wrapper-sections a:hover {
	text-decoration: none;
    background-color: #3a3a3a;
    color: #ff9138;
    padding: 0px;
    font-size: 1.25vw;
}

.box-title {
	text-align: center;
	width: 100%;
	padding-top: 0.75vw;
	color: inherit;
	font-size: 100%;
}

.header {
  background-color: #2d2d2d;
  padding: 2.5vh 0vw;
  padding-bottom: 3.25vh;
}

/* Style the header links */
.header a {
  float: left;
  color: #ff9138;
  text-align: center;
  padding-left: 1.5vw;
  padding-right: 1.5vw;
  padding-top: 0vh;
  text-decoration: none;
  font-size: 1.25vw;
  line-height: 0.25vh;
}

/* Style the logo link (notice that we set the same value of line-height and font-size to prevent the header to increase when the font gets bigger */
.header a.logo {
  font-size: 1.75vw;
  color: #ff9138;
  padding-left: 9vw;
}

/* Change the background color on mouse-over */
.header a:hover {
  color: #e2b895;
}

/* Style the active/current link*/
.header a.active {

  color: #ff8049;
}

.header a.active:hover {
    color: #edc3a1;
}

.header .button div {
  float: left;
  color: #E76F51;
  text-align: center;
  font-size: 1.75vw;
  padding: 0px;
  text-decoration: none;
  font-size: 1vw;
  line-height: 0.5vh;
  border-radius: 1px;
}

/* Float the link section to the right */
.header-right {
  float: right;
}

.box img {
  width: 20vw;
  padding-left: 2.5vw;
  padding-top: 0.65vw;
}

@media screen and (max-width: 750px) {
  .wrapper-sections {
    grid-template-rows: repeat(3, 21vw);
    grid-template-columns: repeat(2, 35vw);
  }

  .box-title {
    font-size: 150%;
  }

  .box img {
    width: 30vw;
    padding-left: 2.75vw;
    padding-top: 0.5vw;
  }
}

.footer {
    position: fixed;
    bottom: 1vh;
    left: 43vw;
    color: #757575;
    font-size: 1.5vh;
}