<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>self-improvement diary</title>

	<link rel="stylesheet" type="text/css" href="../static/css/style.css">
	<link rel="stylesheet" type="text/css" href="../static/css/gratitude-journal.css">
</head>
<body>
	<!--Header-->
	<div id="header-element" class="header">
		<a class="logo" href="home.html">Self-Improvement Diary</a>
		<div class="header-right" style="padding-right: 10vw;">
			<a class="active" href="/">Dashboard</a>
			<a href="/profile">Profile</a>
			<a href="/contact">Contact</a>
		</div>
	</div>

	<!--Title-->
	<p style="text-align: center; font-size: 2vw; padding-top: 2.5vw; padding-bottom: 4.5vw;">Gratitude Journal</p>

	<!--Page-->
	<div class="wrapper-pages">
  		<div class="box 1" style="border-top-left-radius: 0.75vw; border-bottom-left-radius: 0.75vw;">
  			<div class="day">
  				<div>
  					<p style="padding-bottom: 1.5vw;">Date: </p>
  					<input type="date" name="date-form" style="margin-top: 0.65vw; width: 14vw">
  				</div>
  				<div>
  					<p>1: </p>
  					<input type="text" name="date-form">
  				</div>
  				<div>
  					<p>2: </p>
  					<input type="text" name="date-form">
  				</div>
  				<div>
  					<p>3: </p>
  					<input type="text" name="date-form">
  				</div>
  			</div>
  			<div class="day">
  				<div>
  					<p style="padding-bottom: 1.5vw;">Date: </p>
  					<input type="date" name="date-form" style="margin-top: 0.65vw; width: 14vw">
  				</div>
  				<div>
  					<p>1: </p>
  					<input type="text" name="date-form">
  				</div>
  				<div>
  					<p>2: </p>
  					<input type="text" name="date-form">
  				</div>
  				<div>
  					<p>3: </p>
  					<input type="text" name="date-form">
  				</div>
  			</div>
  			<div class="day">
  				<div>
  					<p style="padding-bottom: 1.5vw;">Date: </p>
  					<input type="date" name="date-form" style="margin-top: 0.65vw; width: 14vw">
  				</div>
  				<div>
  					<p>1: </p>
  					<input type="text" name="date-form">
  				</div>
  				<div>
  					<p>2: </p>
  					<input type="text" name="date-form">
  				</div>
  				<div>
  					<p>3: </p>
  					<input type="text" name="date-form">
  				</div>
  			</div>
  		</div>
  		<div class="vertical-line" style="background-color: black; border-radius: 0px;">
  			<!--Added in CSS-->	
  		</div>
  		<div class="box 2" style="border-top-right-radius: 0.75vw; border-bottom-right-radius: 0.75vw;">
  			<div class="day">
  				<div>
  					<p style="padding-bottom: 1.5vw;">Date: </p>
  					<input type="date" name="date-form" style="margin-top: 0.65vw; width: 14vw">
  				</div>
  				<div>
  					<p>1: </p>
  					<input type="text" name="date-form">
  				</div>
  				<div>
  					<p>2: </p>
  					<input type="text" name="date-form">
  				</div>
  				<div>
  					<p>3: </p>
  					<input type="text" name="date-form">
  				</div>
  			</div>
  			<div class="day">
  				<div>
  					<p style="padding-bottom: 1.5vw;">Date: </p>
  					<input type="date" name="date-form" style="margin-top: 0.65vw; width: 14vw">
  				</div>
  				<div>
  					<p>1: </p>
  					<input type="text" name="date-form">
  				</div>
  				<div>
  					<p>2: </p>
  					<input type="text" name="date-form">
  				</div>
  				<div>
  					<p>3: </p>
  					<input type="text" name="date-form">
  				</div>
  			</div>
  			<div class="day">
  				<div>
  					<p style="padding-bottom: 1.5vw;">Date: </p>
  					<input type="date" name="date-form" style="margin-top: 0.65vw; width: 14vw">
  				</div>
  				<div>
  					<p>1: </p>
  					<input type="text" name="date-form">
  				</div>
  				<div>
  					<p>2: </p>
  					<input type="text" name="date-form">
  				</div>
  				<div>
  					<p>3: </p>
  					<input type="text" name="date-form">
  				</div>
  			</div>
  		</div>
	</div>

	<!--Scripts-->
	<script src="../static/js/habits-graph.js"></script>
</body>
</html>