<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>self-improvement diary</title>

	<link rel="stylesheet" type="text/css" href="style/style.css">
	<link rel="stylesheet" type="text/css" href="style/habit-tracker.css">
</head>
<body>
	<!--Header-->
	<div id="header-element" class="header">
		<a class="logo" href="home.html">Self-Improvement Diary</a>
		<div class="header-right" style="padding-right: 10vw;">
			<a class="active" href="home.html">Dashboard</a>
			<a href="profile.html">Profile</a>
			<a href="contact.html">Contact</a>
		</div>
	</div>

	<!--Title-->
	<p style="text-align: center; font-size: 2vw; padding-top: 2.5vw; padding-bottom: 4.5vw;">Habit Tracker</p>

	<!--Grid-->
	<div class="graph">
		<ul class="days">
			<li>01/03</li>
		    <li>02/03</li>
		    <li>03/03</li>
		    <li>04/03</li>
		    <li>05/03</li>
		    <li>06/03</li>
		    <li>07/03</li>
		    <li>08/03</li>
		    <li>09/03</li>
		    <li>10/03</li>
		    <li>11/03</li>
		    <li>12/03</li>
		    <li>13/03</li>
		    <li>14/03</li>
		    <li>15/03</li>
		    <li>16/03</li>
		    <li>17/03</li>
		    <li>18/03</li>
    	</ul>
		<ul class="habits">
			<li>Cold Shower</li>
      		<li>Gratitude Journal</li>
      		<li>Meditation</li>
      		<li>Workout</li>
      		<li>Read</li>
      		<li>NA</li>
      		<li>NA</li>
      	</ul>
		<ul class="squares">
			<!--Added Via Javascript-->
		</ul>
	</div>

	<!--Info-->
	<p style="text-align: center; font-size: 1vw; padding-top: 5vh; padding-bottom: 9vh;">(click the boxes to tick them off)</p>

	<!--Scripts-->
	<script src="js/habits-graph.js"></script>
</body>
</html>