<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Reboost | Home</title>

	<link rel="stylesheet" type="text/css" href="../static/css/style.css">
	<link rel="stylesheet" type="text/css" href="../static/css/habit-tracker.css">
</head>
<body>
	<!--Header-->
	<div id="header-element" class="header">
		<a class="logo" href="">reboost</a>
		<div class="header-right" style="padding-right: 10vw;">
			<a class="active" href="/">dashboard</a>
			<a href="/profile">profile</a>
			<a href="/contact">contact</a>
			<a href="/login/logout">logout</a>
		</div>
	</div>
	
	<!--Dashboard-->
	<div class="wrapper-sections" style="margin-top: 10vh;">
  		<a href="/habit-tracker">
  			<div class="box c">
  				<p class="box-title">grades</p>
  			</div>
  		</a>
  		<a href="/gratitude-journal">
  			<div class="box c">
  				<p class="box-title">revision</p>
  			</div>
  		</a>
  		<a href="/time-table">
  			<div class="box c">
  				<p class="box-title">progress</p>
  			</div>
  		</a>
  		<a href="/to-do">
  			<div class="box c">
  				<p class="box-title">to-do</p>
  			</div>
  		</a>
  		<a href="/checklist">
  			<div class="box c">
  				<p class="box-title">checklist</p>
  			</div>
  		</a>
  		<a href="/resources">
  			<div class="box c">
  				<p class="box-title">resources</p>
  			</div>
  		</a>
	</div>

	<p class="footer">© 2022, Aitor Garcia Hombrados</p>

	<!--Scripts-->
	<script src="js/habits-graph-vis.js"></script>
</body>
</html>