<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Reboost | Home</title>

	<link rel="stylesheet" type="text/css" href="../static/css/style.css">
	<link rel="stylesheet" type="text/css" href="../static/css/habit-tracker.css">
</head>
<body>
	<!--Header-->
	<div id="header-element" class="header">
		<a class="logo" href="">Reboost</a>
		<div class="header-right" style="padding-right: 10vw;">
			<a class="active" href="/">Dashboard</a>
			<a href="/profile">Profile</a>
			<a href="/contact">Contact</a>
		</div>
	</div>

	<!--Title-->
	<p style="text-align: center; font-size: 2vw; padding-top: 2.5vw; padding-bottom: 4.5vw;">Greetings, Aitor Garcia Hombrados</p>
	
	<!--Dashboard-->
	<div class="wrapper-sections">
  		<a href="/habit-tracker">
  			<div class="box c">
  				<p class="box-title">Habit Tracker</p>
  				<img src="../static/images/habits-graph-demo.png">
  			</div>
  		</a>
  		<a href="/gratitude-journal">
  			<div class="box c">
  				<p class="box-title">Gratitude Journal</p>
  				<img src="../static/images/gratitude-journal-demo.png">
  			</div>
  		</a>
  		<a href="/time-table">
  			<div class="box c">
  				<p class="box-title">Timetable</p>
  				<img src="../static/images/time-table-demo.png">
  			</div>
  		</a>
  		<a href="/todo">
  			<div class="box c">
  				<p class="box-title">To-do List</p>
  			</div>
  		</a>
  		<a href="/books">
  			<div class="box c">
  				<p class="box-title">Books</p>
  			</div>
  		</a>
  		<a href="/extra">
  			<div class="box c">
  				<p class="box-title">Extra</p>
  			</div>
  		</a>
	</div>

	<!--Scripts-->
	<script src="js/habits-graph-vis.js"></script>
</body>
</html>