<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Reboost | Login</title>

	<link rel="stylesheet" type="text/css" href="../static/css/style.css">
	<link rel="stylesheet" type="text/css" href="../static/css/login.css">

	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css">
</head>
<body>
	<!--Header-->
	<div id="header-element" class="header">
		<a class="logo" href="">reboost</a>
	</div>

	<!--Login-->
	<div class="login">
		<div class="links">
			<a href="{{ url_for('login') }}" class="active">login</a>
			<a href="#">register</a>
		</div>
		<form action="{{ url_for('login') }}" method="post">
			<input type="text" name="username" placeholder="username" id="username" required>
			<input type="password" name="password" placeholder="password" id="password" required>
			<div class="msg">{{ msg }}</div>
			<input type="submit" value="login">
		</form>
	</div>

	<p class="footer">© 2022, Aitor Garcia Hombrados</p>
</body>
</html>