<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Reboost | Timetable</title>

	<link rel="stylesheet" type="text/css" href="../static/css/style.css">
	<link rel="stylesheet" type="text/css" href="../static/css/time-table.css">
</head>
<body>
	<!--Header-->
	<div id="header-element" class="header">
		<a class="logo" href="/">Reboost</a>
		<div class="header-right" style="padding-right: 10vw;">
			<a class="active" href="/">Dashboard</a>
			<a href="/profile">Profile</a>
			<a href="/contact">Contact</a>
		</div>
	</div>

	<!--Title-->
	<p style="text-align: center; font-size: 2vw; padding-top: 2.5vw; padding-bottom: 4.5vw;">Timetable</p>

	<!--Page-->
	<div class="graph" id="graph">
		<ul class="days" id="days">
			<li id="1">Monday</li>
		    <li id="2">Tuesday</li>
		    <li id="3">Wednsday</li>
		    <li id="4">Thursday</li>
		    <li id="5">Friday</li>
		    <li id="6">Saturday</li>
		    <li id="7">Sunday</li>
		    <button onclick="remove_column()">Remove Column</button>
    	</ul>
		<ul class="habits" id="habits">
			<li>10:00</li>
      		<li>12:00</li>
      		<li>14:00</li>
      		<li>16:00</li>
      		<li>18:00</li>
      	</ul>
		<ul class="squares">
			<!--Added Via Javascript-->
		</ul>
	</div>

	<!--Scripts-->
	<script src="../static/js/time-table.js"></script>
</body>
</html>