<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Reboost | Todo</title>

	<link rel="stylesheet" type="text/css" href="../static/css/style.css">
	<link rel="stylesheet" type="text/css" href="../static/css/to-do.css">
</head>
<body>
	<!--Header-->
	<div id="header-element" class="header">
		<a class="logo" href="/">Reboost</a>
		<div class="header-right" style="padding-right: 10vw;">
			<a class="active" href="/">Dashboard</a>
			<a href="/profile">Profile</a>
			<a href="/contact">Contact</a>
		</div>
	</div>

	<!--Title-->
	<p style="text-align: center; font-size: 2vw; padding-top: 2.5vw; padding-bottom: 4.5vw;">Todo</p>

	<!--Page-->
	<div class="graph">
		<ul class="days">
			<!--NA-->
    	</ul>
		<ul class="habits">
			<div id="0-topic">
				<li>Physics</li>
			</div>
			<div id="1-topic">
				<li>Chemistry</li>
			</div>
			<div id="2-topic">
				<li>Maths</li>
			</div>
			<div id="3-topic">
				<li>Psychology</li>
			</div>
			<div id="4-topic">
				<li>Physics</li>
			</div>
      	</ul>
		<ul class="squares">
			<!--Added Via Javascript-->
		</ul>
	</div>

	<!--Scripts-->
	<script src="../static/js/to-do.js"></script>
</body>
</html>